# ----------------------
# 🔧 Miscellaneous
# ----------------------
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.history
.svn/
.swiftpm/
migrate_working_dir/

# ----------------------
# 🧠 IDE & Editor
# ----------------------

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# ----------------------
# 🐦 Flutter / Dart / Pub
# ----------------------

.dart_tool/
.packages
.pub/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
build/
**/doc/api/
**/ios/Flutter/.last_build_id

# ----------------------
# 📱 Android
# ----------------------

android/.gradle/
android/app/build/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties

# ----------------------
# 🍎 iOS
# ----------------------

ios/Flutter/
ios/Pods/
ios/.symlinks/
ios/Runner.xcworkspace/
ios/build/

# ----------------------
# 🧩 Build Artifacts / Symbolication
# ----------------------

app.*.symbols
app.*.map.json
